<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/powerbi-client@2.10.4/dist/powerbi.min.js"></script>
  <div id="reportContainer" style="height:90vh"></div>

  <script>
    var models = window['powerbi-client'].models;
    var error = '{{{error}}}';
    error && console.error(error);
    var embedConfiguration = {
      type: 'report',
      tokenType: models.TokenType.Embed,
      accessToken:
        '{{{Embed_Token}}}',
      embedUrl:
        '{{{Embed_URL}}}',
      id: '{{{Report_ID}}}',
    };

    console.info('embedConfiguration', embedConfiguration);

    var $reportContainer = $('#reportContainer');
    var report = powerbi.embed($reportContainer[0], embedConfiguration);
  </script>
</body>

</html>